h1{
    color:brown;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

.poke-card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.poke-card h2{
    text-align: center;
    font-family: fantasy;
    font-size: medium;
}